.nuevatarea .eliminar-btn {
    display: none;
}

.nuevatarea:hover .eliminar-btn {
    display: inline-block;
}

.eliminar-btn{
    margin-left: 30px;
} 


.hoja{
    background-color: rgb(189, 185, 178);
}
